body {
  margin: 0;
  font-family: "Roboto", "Arial" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(35, 0, 100);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media screen and (min-width: 2560px) {
  .css-1kb4jrr-control,
  .css-1fdsijx-ValueContainer {
    height: 120px;
    font-size: 40px;
  }
}
